doctype html
html    
    head
        title Register
        block scripts
        block style
            style   
                include ../static/style.css
    body
        block content
        footer#footer
          