extend base.pug

block scripts
    script(src="../static/index.js")

block style
    style
        include ../static/style.css
        include ../static/logn.css

block content
    nav#navbar
        ul#navul
            li #[a( href = '/') Home]
            li #[a( href = '/register') Register]
            li #[a( href = '/login') Login]
        
    div.container
        h2 Login
        form(action="/login", method="post" )
            input(type="email" name='email' placeholder='Enter your Email-id' class='input')
            input(type="password" name="password" placeholder='Enter your password' class='input')
            button.btn
                | Login 