*{
    margin:0;
    padding:0;
    /* background: url('../static/home.jpg')center/cover no-repeat; */
}

#navbar{
    background-color: #382929;
    padding: 14px 10px;
    font-size: 1.1rem;
   color: black;
   opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    
}

#navul{
    display: flex;
    align-items: center;
}

#navul li{
    list-style: none;

}

a{
    color: honeydew;
    padding: 8px;
    text-decoration: none;
}

.btn1{
    margin-top: 40%;
    margin-left: 45%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    background-color:rgb(179 179 152);
    cursor: pointer;
    outline: none;

}

